<a href="https://colab.research.google.com/github/luis66995/Inter_Tratamiento_Datos_Python/blob/main/Ejercicio_Curso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import urllib.request
import re

In [ ]:
#Leer archivo scv titanic

#Leer origen de datos
df = pd.read_csv('https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/titanic.csv')
df.info()

In [ ]:
df

In [ ]:
df.columns

  # *Catalogo*

[*pclase*]   – Tipo de Boleto, e.g 1 = 1ra, 2 = 2da, 3 = 3ra
[*Numpy*] ddfg
survival – Sí la persona sobrevivió o no el accidente (1|0)

name – Nombre del pasajero y titulo incluido

sex – Género del pasajero: female|male

age – Edad en años

sibsp – Número de parientes/cónyuges abordo del Titanic

parch – Número de padres/hijos abordo del Titanic

ticket – Número de Boleto

fare – Costo del boleto

cabin – Número cabina

embarked – Puerto de embarcación (C = Cherburgo; Q = Queenstown; S = 
Southampton)

boat - Número de bote salvavidas, si tomó alguno

body - Número de cuerpo (si no sobrevivió y se recuperó el cuerpo)

home.dest - Origen y destino del pasajero **texto en negrita** texto en cursiva

In [ ]:
#Limpíeza de datos
#1. Si la edad es null (na) llenar el campo con la media de la edad (usar el método fillna())
datos=df["age"]
datos
df.isnull().sum()
df["age"].describe

df['age'].fillna((df['age'].mean()), inplace=True)


#cambios de valores nulos convertidos en la media
#Visualizar los cambios de valores NaN
df["age"]
print(df["age"].isnull())

In [ ]:
#2. Si embarqued es na llenar con S
df['embarked'].fillna("s")
#demostracion que isna se encuentra en flaso por que estan rellenos sus valores
df["embarked"].isna()

In [ ]:
df["embarked"]

In [ ]:
#3. Cambiar los valores alfanumericos de sex a numero usando { 'female': 1, 'male': 0 }
cambio=df["sex"].replace(["female","male"],["1","0"])
cambio

In [ ]:
df["sex"].describe()

In [ ]:
#4. Cambiar los valores alfanumericos de embarked a numero usando { 'S': 0, 'C': 1, 'Q': 2 }
df["embarked"].describe
cambio2=df["embarked"].replace(["S","C","Q"],["0","1","2"])
cambio2

In [ ]:
#6. Eliminar las columnas ticket, cabin y sibsp
df.drop(columns=["ticket","cabin","sibsp"])
df

In [ ]:
#7. Validar que no existan registros duplicados
df_duplicados=df.duplicated()
df_duplicados

In [ ]:
#8. Listar los valores únicos del campo sex
Val_Unique_Sex=df["sex"].unique()
Val_Unique_Sex

In [ ]:
#9. Quitar los espacios vacíos de los campos que no sean numéricos
df.columns

In [ ]:
#10. Cambiar los nombres de las variables a español sin espacios

CambioNombres = df.rename(columns={"pclass":"tipo_persona",
                                   "survived":"sobreviviente","name":"nombre","sex":"sexo","age":"edad",
                                   "parch":"Numero_Padres","fare":"Costo_Boleto", "embarked":"embarcacion",
                                   "boat":"Numero_De_Bote","body":"Numero_Cuerpo","home.dest":"Origen_Pasajero"})
CambioNombres.columns

In [ ]:
CambioNombres

In [ ]:
#11. Mostrar los estadísticos básicos de la columna edad

med=np.mean(df["age"],axis=0)
print("media de edad:", med)
maxim = max(df["age"])
print("la edad maxima es: ",maxim)
mini=min(df["age"])
print("la edad minima es: ",mini)

In [ ]:
#12. En un df nuevo dejar solo las columnas nombre, puerto de embarcación y edad de las mujeres
df2=df[["name"]],[["embarked"]],[["age",np.where("female") ]].copy()
df2

In [ ]:
#13. Guardar los datos limpios en un archivos json orientado a registros llamado iniciales_titanic_clean.json (sus iniciales)


#guardar un df en archivode df a json 
df.to_json("datos/df/LGOT_titanic_clean.json")
%ls datos/df/

In [ ]:
%cat datos/df/LGOT_titanic_clean.json

In [ ]:
#14. Guardar los datos limpios en un archivo de excel con dos hojas una con los sobrevientes y otra con los fallecidos llamado iniciales_titanic_clean.xlsx (sus iniciales)
df3 = df.copy()
with pd.ExcelWriter('datos/df/LGOT_titanic_clean.xlsx') as w:
  df.to_excel(w, sheet_name="LGOT_titanic_clean_Fallecidos", index=False)
  df2.to_excel(w,sheet_name="LGOT_titanic_clean_Sobrevivientes")
%ls datos/df/