<a href="https://colab.research.google.com/github/luis66995/Inter_Tratamiento_Datos_Python/blob/main/PandasTiposDeoPERACIONES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

* ```object``` el cual representa a una cadena de caracteres.
* ```int64``` es el tipo para números enteros. 
* ```float64``` es el tipo para números de punto flotante.
* ```bool``` es el tipo para valores booleanos.
* ```datetime64``` es el tipo usado para gestionar fechas y horas.
* ```timedelta``` es el tipo de diferencias de tiempo. 
* ```category``` es un tipo de dato que contiene una colección finita de posibles valores

In [ ]:
import datetime as dt
datos = pd.DataFrame({'nombres':('Carlos Ayala',
                                 'Martha Sánchez'
                                 , 'Jimena Ríos',
                                 'Raul Quiroz'),
            'fechas':(dt.datetime(1995,12,21), 
                      dt.datetime(1989,1,13), 
                      dt.datetime(1992,9,14), 
                      dt.datetime(1993,7,8)),
            'saldo': (3600, 
                      7452, 
                      np.NaN, 
                      12143.5),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)})

datos

In [ ]:
datos.dtypes

In [ ]:
datos2=pd.DataFrame({'nombres':('Carlos Ayala',
                                 'Martha Sánchez'
                                 , 'Jimena Ríos',
                                 'Raul Quiroz'),
            'fechas':(dt.datetime(1995,12,21), 
                      dt.datetime(1989,1,13), 
                      dt.datetime(1992,9,14), 
                      dt.datetime(1993,7,8)),
            'saldo': (3600, 
                      7452, 
                      np.NaN, 
                      12143.5),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)})

datos

In [ ]:
datos2.dtypes

In [ ]:
#convertir un objeto de pandas a un tipo de dato especifico
datos3= datos2.astype(str)
datos3.dtypes

In [ ]:
datos3

In [ ]:
datos3["saldo"].astype("float64")

In [ ]:
datos3.dtypes

In [ ]:
#pd.to_datetime()
fechas = pd.DataFrame({'year': [1997, 1982, 1985],
                       'month': [1, 12, 3],
                       'day': [14, 5, 21],
                       'hour':[17, 0, 4],
                       'minutes':[45, 39, 28],
                      'seconds':[11.1803, 23.74583, 3.8798]})

fechas

In [ ]:
datos = pd.DataFrame(np.arange(8532639111803, 8532639111903, 5).reshape(10,2))
datos

#operaciones basicas con dataframes

##brockcasting

In [ ]:
from dataclasses import dataclass
datos = pd.DataFrame(np.arange(20).reshape(5,4), 
          columns=('primero', 'segundo', 'tercero', 'cuarto'))
datos

In [ ]:
datos[2:]

In [ ]:
datos[2:]*5

In [ ]:
datos[2:]= datos[2:]*5
datos

In [ ]:
indice = ['gerente', 'supervisor', 'vendedor', 'cajero']
datos = pd.DataFrame({'nombres':('Carlos Ayala',
                                 'Martha Sánchez'
                                 , 'Jimena Ríos',
                                 'Raul Quiroz'),
            'fechas':(dt.datetime(1995,12,21), 
                      dt.datetime(1989,1,13), 
                      dt.datetime(1992,9,14), 
                      dt.datetime(1993,7,8)),
            'saldo': (3600, 
                      7452, 
                      np.NaN, 
                      12143.5),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)},
            index=indice)

datos

In [ ]:
datos.shape

In [ ]:
datos.index

In [ ]:
print(type(datos.index))

In [ ]:
datos.columns

In [ ]:
type(datos.columns)

In [ ]:
#reset_index()
# regresará un dataframe el cual sustituirá a los índices del dataframe original con valores numéricos y creará una nueva columna con el identificador index conteniendo a los identificadores sustituidos.
datos.reset_index()

In [ ]:
datos

In [ ]:
#cambiar el nombre de la columna
datos.set_index("nombres")

In [ ]:
datos

In [ ]:
# Si se repite el indice en la tupla se repite el renglon en el resultado
# Si existe un indice valido y un indice invalido el renglon de este ultimo se llena con NaN
# Si no existe un indice valido en la tupla genera un error

datos.reindex(("gerente", "supervisor", "supervisor","gerente","director"))

In [ ]:
datos.info()

### El método ```iloc[ ]```.

El método ```iloc[ ]``` permite identificar a uno o más elemento dentro de un renglón de un dataframe utilizando números enteros para referenciar tanto al índice como a las columnas.
```
<df>.iloc[<índice>,[<col 1>, <col 2>, ... <col n>]]
```

In [ ]:
datos = pd.DataFrame(np.arange(20).reshape(5, 4), 
                     columns=('primero', 'segundo', 'tercero', 'cuarto'))

datos

In [ ]:
# no funciona datos.iloc[2,[2, 1, 3]]

### El método ```loc[ ]```.
permite identificar a uno o más elemento dentro de un renglón de un dataframe utilizando los identificadores para referenciar tanto al índice como a las columnas.

```
<df>.loc[<id_índice>,[<id_col 1>, <id_col 2>, ... <id_col n>]
```

In [ ]:
ndice = ['gerente', 'supervisor', 'vendedor', 'cajero']
datos = pd.DataFrame({'nombres':('Carlos Ayala', 
                                    'Martha Sánchez', 
                                    'Jimena Ríos', 
                                    'Raul Quiroz'),
            'fechas':(dt.datetime(1995,12,21), 
                      dt.datetime(1989,1,13), 
                      dt.datetime(1992,9,14), 
                      dt.datetime(1993,7,8)),
            'saldo': (3600, 
                      7452, 
                      np.NaN, 
                      12143.5),
            'al corriente':(True, 
                            True, 
                            False, 
                            True)}, 
            index=indice)

datos

In [ ]:
datos.loc["supervisor",["fechas"]]

In [ ]:
#datos.loc[1] # no se puede utilizar en el numero de indice(renglon) genera error

In [ ]:
datos

In [ ]:
#utilizar expresionas logicas en loc
datos["saldo"] >3000

In [ ]:
#loc regresa la lectura de los datos dependiendo la funcion
datos.loc[datos["saldo"]>3000]

In [ ]:
datos.loc[datos["al corriente"]== False]

In [ ]:
datos.loc[datos["al corriente"],["fechas","nombres"]]

In [ ]:
datos[["saldo","nombres"]]

In [ ]:
#iat[] regresa un elmento localixado en un indice y columna especifica
datos.iat[2,2]

In [ ]:
type(datos.iat[2,2])

In [ ]:
datos.at["vendedor","saldo"]

In [ ]:
type(datos.at["vendedor", "saldo"])