<a href="https://colab.research.google.com/github/luis66995/Inter_Tratamiento_Datos_Python/blob/main/Pandas_Lectura_Archivos_Sql_Y_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lectura de pandas

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
#lEER UN csv
df_clientes=pd.read_csv("datos/clientes.csv")
df_clientes.info()

In [ ]:
df_clientes

In [ ]:
df_facturas=pd.read_csv("datos/facturas.csv", sep="|")
df_facturas.info()

In [ ]:
df_facturas

In [ ]:
#Leer un CSV desde un url 
df_jugadores=pd.read_csv( "https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/jugadores.csv")
df_jugadores.info

In [ ]:
df_jugadores

In [ ]:
#leer csv desde url sin header y cambiando nombre de columnas
columns = ['Nombre','Equipo','Posicion','Altura','Peso','Edad']

df_jugadores_esp= pd.read_csv(
    "https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/jugadores.csv",
     header=None,skiprows=1,names=columns)
df_jugadores_esp.info()

In [ ]:
df_jugadores_esp

In [ ]:
#leer Json
df_alumnos=pd.read_json("datos/alumnos_calif_jsonArray.json")
print(df_alumnos.info())
print(df_alumnos.columns)

In [ ]:
df_alumnos

In [ ]:
df_alumnos["calificacion"].describe()

In [ ]:
#estadisticos basicos de una columna 
 #df_alumnos.describe()

In [ ]:
 #df_alumnos.isnull().sum()

In [ ]:
#crtl + enter leer la ruta por automatico y puede autocompletar
df_carrera=pd.read_excel(
    "datos/BDCarrera.xlsx",
    sheet_name="BdCarrera2022",
    header=None,
names=['MATRICULA', 'SEDE', 'NOMBRE', 'EDAD', 'SEXO', 'NACIONALIDAD', 'ESTADO_CIVIL', 'MODALIDAD', 'PROM_PSU', 'PROM_NEM', 'SITUACION_ECONOMICA', 'ESTADO', 'CALIFICACION', 'CURSO']   )
df_carrera.info()

In [ ]:
#instalar el driver de mysql 
#Lectura de BD relacional Mysql 
!pip install mysql-connector-python sqlalchemy

In [ ]:
from sqlalchemy import create_engine
us = 'fesalu'
passwd = 'bdfes123'
url = 'bd.arcelia.net'
puerto = '3306'
bd = 'bdcolegiosource'
auth = 'mysql_native_password'
#ARMAMOS LA CADENA DE CONEXION ALA BDD

str_conn = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
str_conn = str_conn.format(us, passwd, url, puerto, bd, auth)
print(str_conn)
sql = '''SELECT * FROM Alumnos WHERE DATE(fnac) >=  %s'''
conn = create_engine(str_conn)

In [ ]:
#f_mysql.columns = ['no_cuenta', 'nombre', 'ap_paterno', 'fecha_nacimiento', 'estatura']

In [ ]:
#conexion a la bdd 

conn=create_engine(str_conn)
#consulta que recibira un parametro a filtro
sql = '''SELECT * FROM Alumnos WHERE DATE(fnac) >=  %s'''

df_mysql=pd.read_sql_query(sql=sql, con=conn,  params=['2000-01-01'])
df_mysql.info()
df_mysql.columns

In [ ]:
df_mysql

In [ ]:
#leer datos de una tabla en bdd relacional
df_mysql2=pd.read_sql_table(table_name="Clientes", con=conn)
df_mysql2.info()
df_mysql2.columns

In [ ]:
df_mysql2

In [ ]:
df_mysql.columns

In [ ]:
#cambiar nombres de la columna de un DF existente 
df_mysql.columns=["no_cuenta","nombre","ap_paterno","fecha_nacimiento","estatura"]
df_mysql

In [ ]:
#cambiar los nombres de algunas columnas de un df existente
df_mysql.rename(columns={"ap_paterno":"apellido_paterno", "nombre":"nombres"},
                inplace=True)
df_mysql

In [ ]:
#guardar un df en archivo csv 
df_mysql.to_csv("datos/df/alumnos.csv",index=False)
%ls datos/df/

In [ ]:
%cat datos/df/alumnos.csv

In [ ]:
#guardar un df en archivo csv separado por pipes
df_mysql.to_csv("datos/df/alumnos_pipes.csv",index=False,sep="|")
%ls datos/df/

In [ ]:
%cat datos/df/alumnos_pipes.csv

In [ ]:
#Escribir arcivos en jsonn orientados a campos

df_mysql.to_json("datos/df/alumnos.json")

%ls datos/df/

In [ ]:
%cat datos/df/alumnos.json

In [ ]:
#Escribir arcivos en jsonn orientados a registros

df_mysql.to_json("datos/df/alumnos_registros.json",orient="records")

%ls datos/df/

In [ ]:
%cat datos/df/alumnos_registros.json

In [ ]:
#Escribir arcivos en jsonn orientados a tablas

df_mysql.to_json("datos/df/alumnos_tabla.json",index=False ,orient="table")

%ls datos/df/

In [ ]:
%cat datos/df/alumnos_tabla.json

In [ ]:
#Escribir arcivos en jsonn orientados a valores
df_mysql.to_json("datos/df/alumnos_valores.json", orient="values")

%ls datos/df/

In [ ]:
%cat datos/df/alumnos_valores.json

In [ ]:
#Escribir df a archivos excel

df_mysql.to_excel(
    
    "datos/df/alumnos.xlsx", 
    sheet_name="AlumnosArcelia",
    index=False
)

%ls datos/df/

In [ ]:
#Escribir DF archivos de EXCEL EN VARIAS HOJAS
df2 = df_mysql.copy()
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx') as w:
  df_mysql.to_excel(w, sheet_name="AlumnosArcelia", index=False)
  df_alumnos.to_excel(w, sheet_name="AlumnosFile", index=False)

%ls datos/df/

In [ ]:
from operator import index
#Escribir en un archivo de excel existente
#with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx',
 #                   mode='a', engine='openpyxl') as w:
  #    df_clientes.to_excel(w, sheet_name='Clientes', index=False)
   #   df_jugadores_esp.to_excel(w, sheet_name='Jugadores', index=False)
#%ls datos/df/

In [ ]:
df_carrera.info()

In [ ]:
import os
from google.colab import files
for i in os.listdir('/content/datos/df/') :  
 #print(i)
 files.download('/content/datos/df/'+i)