<a href="https://colab.research.google.com/github/luis66995/Inter_Tratamiento_Datos_Python/blob/main/py().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0
print(a)
b=1
print(b)
#serie fibonaci
for x in range(98):

  r=a+b
  a=b
  b=r
  print(r)

In [ ]:
palabra="Datos"

for letra in palabra:
  print(letra)
  if letra =="t":
    break

In [ ]:
#ciclos anidados
for i in range(1,10):
  for j in range(1,10):
    r=i*j
  print(f'{i}*{j}={r}')
  print{''}

In [ ]:
VOCALES = 'aeiou'
frase = 'Supercalifragilisticoespialidoso'

no_vocales=0
for letra in frase.lower():
  if letra  in VOCALES:
    no_vocales+=1
print(no_vocales)

In [ ]:
#listas
compra = ['Agua', 'Huevos', 'Aceite', 'Sal', 'Limón']
detalle = ['mineral natural', 'organicos', 'de oliva virgen', 'de mar', 'verde']

for producto in compra:
  print(producto)
#enumerar
len(producto)  
for i, producto in enumerate(compra):
   print(i, producto)

#zip

for producto,detail in zip(compra, detalle):
  print(producto,detail)

print(list(zip(compra,detalle)))

In [ ]:
valores='32,45,11,87,20,48'

lista_valores=[]

for valores in valores.split(','):
  lista_valores.append(int(valores))
print(lista_valores)

In [ ]:
lista_enteros=[int(valor) for valor in valores.split(',')]
print(lista_enteros)

In [ ]:
lista = ['pan', 'jamon', 100, 123.45]
print(lista)
print(lista[-1])

In [ ]:
lista.append("jugo")
lista
lista.count(100)
lista.extend([40,'cebolla',10])
lista

In [ ]:
lista.append(["tocino",90 ])
lista

In [ ]:
lista.extend(range(580,585))
lista.pop(range(80,85))
lista

In [ ]:
#lista.remove(100)

In [ ]:
for n in range(12,23):
#  lista.pop(14)

In [ ]:
#funciones en listas
lista.insert(3,"mostaza")
lista[0]="pan integral"
lista

In [ ]:
#imprimir todos los elemententos de la lista
lista[:]

In [ ]:
lista[4:40]

In [ ]:
lista2=lista
print(lista)
print(lista2)

In [ ]:
lista[1]="tocino"
print(lista)
print(lista2)

In [ ]:
#crear una copía de tu lista

lista2=lista[:]
print(lista)
print(lista2)

In [ ]:
#sumar listas
lista2=lista+lista
lista

In [ ]:
#conjuntos
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

In [ ]:
#conjuntos
set_cursos=set(lista_cursos)
set_cursos

In [ ]:
set_cursos2 = set(['Python', 'Pandas', 'Mineria', 'Base de datos'])
set_cursos2

In [ ]:
sumadeccon=set_cursos.union(set_cursos2)
sumadeccon

In [ ]:
#diccionarios
diccionario = {'nombre' : 'Juan', 'edad' : 22, 'cursos': ['Python','Ciencia de datos','Big Data'] }
diccionario

In [ ]:
diccionario['cursos']
for c in diccionario['cursos']:
  print(c)

In [ ]:
#llaves de diciionario 

for k in diccionario.keys():
  print(k)

In [ ]:
for v in diccionario.values():
  print(v)

In [ ]:
for i in diccionario.items():
  print(i)

In [ ]:
datos=('Tokyo:38140000;Delhi:26454000;Shanghai:24484000;'
    'Mumbai:21357000;São Paulo:21297000;CDMX:24800000,')

datos

In [ ]:
ciudades = {}
for r in datos.split(';'):
  ciudad, poblacion = r.split(':')
  ciudades[ciudad] = int(poblacion)

ciudades